.board {
    display: grid;
    grid-template-columns: repeat(7, 60px); 
    grid-template-rows: repeat(6, 60px); 
    gap: 5px; 
    border:10px solid rgb(158, 155, 155);
    padding:20px 20px;
    border-radius:20px;
}

.slot {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    background-color: #ffffff;
    border: 1px solid #000000; 
    cursor: pointer;
}

.slot.empty {
    background-color: #c0c0c0; 
}

.slot.red {
    background-color: #ff4136; 
}

.slot.yellow {
    background-color: #ffdc00; /* Yellow token color */
}
