body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    font-size:x-large;
}
.weatherContent{
    z-index:2;
    position:relative;
    border:2px solid white;
    border-radius:10px;
    padding:30px 30px;
    transition-delay:2s ease-in;
}
.weatherContent:hover{
    transition-delay:5s ease-in;
    background: linear-gradient(to right, #000000, #1f0029); /* Gradient colors */
    -webkit-background-clip: text; /* Apply the gradient to the text */
    background-color: rgb(17, 20, 20);
    color: transparent;
}
body{
    background-image:linear-gradient(rgb(169, 198, 221),rgb(66, 158, 195),rgb(56, 146, 224));
}
.weatherContent::before {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(225, 216, 177, 0.6); /* Black with some transparency */
    border-radius: 10px; /* Match the border radius */
    z-index: -1; /* Behind the text */
    pointer-events: none; /* Ensure the pseudo-element doesn't intercept mouse events */
}